.wp-block-bookwhen-schedule {
  /* min-height: 200px; */
  min-height: 80vh;
}

.wp-block-bookwhen-schedule.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* Mobile (default) just push loader away from the top */
  padding-top: 100px;
  background-color: #eee;
}

@media (min-width: 700px) {
  .wp-block-bookwhen-schedule.loading {
    justify-content: center;
    /* Larger center the loader */
    padding-top: 0;
  }
}

.wp-block-bookwhen-schedule.loading::before {
  content: '';
  width: 50px;
  height: 50px;
  background:url(bookwhen_api_logo.svg) center center no-repeat;
  background-size: 100%;
  animation: pulse 1s infinite;
}

.wp-block-bookwhen-schedule.loading .inner {
  display: none;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }

  50% {
    transform: scale(2);
  }
}

.wp-block-bookwhen-schedule.loading::after {
  content: 'loading events';
  padding-top: 2rem;
}

.wp-block-bookwhen-schedule .inner ul {
  list-style-type: none;
  padding: 10px 0 0 0;
}

.wp-block-bookwhen-schedule .inner ul li{
  display: flex;
  justify-content: space-between;
  margin:0;
  margin-bottom: 10px;
  border-bottom: 1px solid #dddddd;
}

.wp-block-bookwhen-schedule .inner ul li .day {
  color:black;
}

.wp-block-bookwhen-schedule .inner ul li .title {
  color: black;
}

.wp-block-bookwhen-schedule .inner ul li .action {
  flex-shrink: 0;
  background-color: #13b9a0;
  padding: 5px 15px;
  color: white;
  text-decoration: none;
  border-radius: 100px;
  align-self: center;
  margin-bottom: 10px;
}
